# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# MongoDB Connection (Docker container)
MONGODB_URI=mongodb://admin:adminpass@localhost:27017/
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USER=admin
MONGODB_PASSWORD=adminpass

REDIS_HOST=localhost
REDIS_PORT=6379

RMQ_HOST:localhost
RMQ_PORT:5672
RMQ_MANAGEMENT_PORT:15672
RMQ_USERNAME:username
RMQ_PASSWORD:password
